*{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    min-width: 250px;
}
#title{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
#Body{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.form-control{
    font-size: smaller;
}
#NoteTitle{
    font-weight: bold;
}
#btnGroup{
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 20px;
}
button.btn{
    padding: 5px;
}


#the-count {
    /* float: right; */
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
    margin-bottom: 10px;
    text-align: right;
    margin-left: 5px;
    margin-right: 5px;
  }